@model Projektuppgift.ViewModels.CarEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarRental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Brand" class="control-label">@Model.Brand</label>
                <select asp-for="Brand" class="form-control" asp-items="ViewBag.Brands" onchange="this.form.submit()">
                    <option value="">Update Brand</option>
                </select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">@Model.Model</label>
                <select asp-for="Model" class="form-control" asp-items="ViewBag.Models">
                    <option value="">@Model.Model</option>
                </select>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBooked" /> @Html.DisplayNameFor(model => model.IsBooked)
                </label>
            </div>

            <div class="form-group">
                <div id=imageStrings>
                    <button type="button" id="AddImage">Add Image</button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrderId" class="control-label"></label>
                <select asp-for="CustomerOrderId" class="form-control" asp-items="ViewBag.CustomerOrderId"></select>
                <span asp-validation-for="CustomerOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="DisplayCars">Back to List</a>
</div>
<div>
    @if (Model.Images != null)
    {
        foreach (var img in Model.Images)
        {
            <img src="@img" width="200" height="100">
        }
    }

    
</div>

@section Scripts {
    <script>
            let list = []

            function renderItems() {
                const container = document.getElementById("imageStrings")
                container.innerHtml = "";

                list.forEach((image, index) => {
                    const div = document.createElement("div");
                    div.innerHtml = `
                        <input type="text" value="${image}" onchange="updateItem(${index}, this.value)" />
                        <button type="button" onclick="removeItem(${index})">Ta bort</button>
                    `;
                    container.appendChild(div);
                }
            }


            function updateItem(item, value) {
                list[index] = value;

            }

            function addItem() {
                list.push = "";
                renderItems();
            }

            function removeItem(item) {
                list.splice(item, 1);
                renderItems();
            }

            window.onload = function () {
                @foreach (var image in Model.Images)
                {
                    @:list.push("@image")
                }
            renderItems();
            }
    </script>
}